@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: 600;
}

window.RightMon#waybar {
  background: @base;
  color: @text;
}

#custom-workspace-state {
  min-width: 0;
  margin: 0;
  padding: 0;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0 5px;
}

#custom-middle-workspace-1,
#custom-middle-workspace-2,
#custom-middle-workspace-3,
#custom-game-workspace,
#custom-right-workspace-4,
#custom-right-workspace-5,
#custom-right-workspace-6,
#custom-right-workspace-7,
#custom-right-workspace-8,
#custom-right-workspace-9,
#custom-right-workspace-10 {
  background: transparent;
  border-radius: 3px;
  padding: 0;
}

#custom-middle-workspace-1,
#custom-middle-workspace-2,
#custom-middle-workspace-3,
#custom-game-workspace,
#custom-right-workspace-4,
#custom-right-workspace-5,
#custom-right-workspace-6,
#custom-right-workspace-7,
#custom-right-workspace-8,
#custom-right-workspace-9,
#custom-right-workspace-10 {
  color: @subtext1;
  padding: 0 5px;
}

#custom-middle-workspace-1.empty,
#custom-middle-workspace-2.empty,
#custom-middle-workspace-3.empty,
#custom-game-workspace.hidden,
#custom-right-workspace-4.empty,
#custom-right-workspace-5.empty,
#custom-right-workspace-6.empty,
#custom-right-workspace-7.empty,
#custom-right-workspace-8.empty,
#custom-right-workspace-9.empty,
#custom-right-workspace-10.empty {
  color: @overlay0;
}

#custom-game-workspace.hidden {
  margin: 0;
  padding: 0;
}

#custom-middle-workspace-1.active,
#custom-middle-workspace-2.active,
#custom-middle-workspace-3.active,
#custom-game-workspace.active,
#custom-right-workspace-4.active,
#custom-right-workspace-5.active,
#custom-right-workspace-6.active,
#custom-right-workspace-7.active,
#custom-right-workspace-8.active,
#custom-right-workspace-9.active,
#custom-right-workspace-10.active {
  color: @text;
  background: @surface1;
  font-weight: 900;
  margin: 2px 1px;
  padding: 0 8px;
}

#custom-game-workspace.game {
  color: @crust;
  background: @green;
  font-weight: 900;
  margin: 2px 1px;
  padding: 0 9px;
}

#custom-spotify {
  color: @green;
  font-weight: 900;
  background: transparent;
  margin-left: 3px;
  padding: 0 5px;
}

#custom-notifications,
#clock,
#wireplumber,
#custom-power {
  background: @surface0;
  border-radius: 7px;
  padding: 0 9px;
}

#custom-notifications {
  color: @mauve;
  padding: 0 11px;
}

#custom-notifications.has-notifications {
  background: @surface1;
  color: @text;
}

#clock {
  color: @text;
  background: @surface2;
  font-size: 12px;
  font-weight: 800;
}

#wireplumber {
  color: @sky;
}

#custom-power {
  color: @red;
  padding: 0 12px;
}

tooltip {
  color: @text;
  background: @mantle;
  border: 1px solid @surface1;
  border-radius: 7px;
}
